<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>manage</title>
    <style type="text/css">
        body{
            /*padding-top: 40px;*/
            margin: 40px 40px;
        }
        h1 {
            text-align: center;
        }
        #userNumber{
            margin-top: 40px;
        }
    </style>
</head>
<body>
<h1>Open IM</h1>

<p id="userNumber">Online User Number: {{ .onlineUserNumber }}</p>

</body>
</html>
